@font-face {
  font-family: "Hellix-Bold";
  src: local("Hellix-Bold"),
    url(./assets/fonts/Hellix-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Hellix-Light";
  src: local("Hellix-Light"),
    url(./assets/fonts/Hellix-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Hellix-Medium";
  src: local("Hellix-Medium"),
    url(./assets/fonts/Hellix-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Hellix-Regular";
  src: local("Hellix-Regular"),
    url(./assets/fonts/Hellix-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Hellix-SemiBold";
  src: local("Hellix-SemiBold"),
    url(./assets/fonts/Hellix-SemiBold.ttf) format("truetype");
}

body {
  box-sizing: border-box;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

}
